* {
    transition: 0.2s ease;
}
body {
    margin: 0;
    padding: 0;
}
.appAlgorithms {
    position: fixed;
    z-index: -999;
    text-align: center;
    background: linear-gradient(to bottom left,rgba(0, 0, 107, 0.6), rgba(109, 68, 220, 0.3));
    width: 100%;
    height: 100vh;
}

#startText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    color: white;
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 830px;
}

.algText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    color: white;
    margin-left: 7px;
    text-align: justify;
    min-width: 390px;
    max-width: 390px;
}

.algName {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    margin-left: 7px;
    color: white;
    margin-left: 13%;
}

#realizationText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    margin-left: 10px;
    color: white;
    margin-right: 130px;
}

.codeText {
    margin-left: 7px;
    color: white;
}

#btnTest {
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    border: 3px solid rgb(96, 112, 255, 0.55);
    background-color: rgb(74, 46, 255, 0.15);
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    color: white;
    box-shadow: 0 0 10px 5px rgb(96, 112, 255, 0.55);
}

#btnTest:hover {
    background-color: rgb(96, 112, 255, 0.55);
}

.cards {
    height: 450px;
    width: 800px;
    background-color: rgba(74, 46, 255, 0.15);
    border-radius: 10px;
    border: 4px solid rgba(96, 112, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#btnPrev {
    position: relative;
    top: 205px;
    width: 40px;
    height: 40px;
    left: -50px;
    border: 3px solid rgb(96, 112, 255, 0.55);
    border-radius: 10px;
    background-color: transparent;
    color: rgb(96, 112, 255, 0.55);
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgb(96, 112, 255, 0.55);
}

#btnPrev:hover {
    background-color: rgb(96, 112, 255, 0.55);
    color: white;
}

#btnNext {
    position: relative;
    top: 205px;
    width: 40px;
    height: 40px;
    right: -770px;
    border: 3px solid rgb(96, 112, 255, 0.55);
    border-radius: 10px;
    background-color: transparent;
    color: rgb(96, 112, 255, 0.55);
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgb(96, 112, 255, 0.55);
}

#btnNext:hover {
    background-color: rgb(96, 112, 255, 0.55);
    color: white;
}

.sliderParent {
    margin-top: -40px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sliderParent article {
    min-width: 800px;
    height: 100%;
    border-radius: 8px;
}

.divsTitle {
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.tableO {
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-left: 8%;
    padding: 3px;
}

.divsContent {
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.sliderParent article:nth-child(1) {
    
}

.sliderParent article:nth-child(2) {
    background-color: antiquewhite;   
}

.sliderParent article:nth-child(3) {
    
}